.title {
  border-bottom: 5px solid #000;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -10px;
  right: -25px;
  font-size: 5rem;
  -webkit-transform: rotate(50deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

.card-login {
  max-width: 25rem;
}

.card-register {
  max-width: 40rem;
}